# folders
build
install
log
__pycache__
temp

# temporary stuff
.pybuild
*egg-info
*~
export*.m
*statistics.txt

# QT Creator stuff
*.workspace.user


# files starting wtih underline in this dir
/_*.sh
/_*.py

# BT.cpp 
*.fbl